<div>
    <center>
        <form method="post" action="/member/cart/signin" onsubmit="return Submit();">
        <br /><br />
        <strong>Enter Your Sign-In Details:</strong><br /><br />
        <input type="hidden" name="c_name" value="{{this.name}}">

        <label>Member Id:</label>
        <input type="text" name="c_id" id="c_id" size="35" maxlength="30" value="{{record.id}}" /> 
        <div id="c_idError" class="c_idErrorclass" style="background-color:red;">
				<span style="display:none">
					Reminder: Please check ID.<br />
				</span>
		</div>
     <!--   <select name="c_id">
            {{#each record}}
                <option value="{{this.id}}">
                    {{this.id}}
                </option>
            {{/each}}
        </select><br />-->
        <br />
        <input type="submit" value="Sign-In" class="btn btn-success"  >
        <input type="button" value="Cancel" class="btn btn-danger" onclick="canceladd();">  
        </form>
        <h6>Note: Order will be saved with Member ID</h6>
    </center>
</div>